*{
    font-family: 'Hammersmith One', sans-serif;
}
body{
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100vw 10vh;
}
.linha{
    color: yellow;
}
.container{
    margin-left: 30px;
    margin-right: 30px;
}

.fundo{
    width:100%;
    height:10em;
    /*border: 25px solid; /* As 4 bordas sólidas com 25px de espessura */
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    /*border-color: #f00 #0f0 #00f #fc0; /* cores: topo, direita, inferior, esquerda */
}

.linhaSuperior,
.linhaInferior,
.linhaParagraph{
    border-top: 2px solid white;
    border-bottom: 1px dashed white;
    border-left: none;
    border-right: none;
    color: rgb(114, 114, 114);
    background-color: transparent;
    height: 4px;
}

.subTitulo,
.titulo{
    font-variant: small-caps;
    font-family: 'Indie Flower', cursive;
    margin-top: 0;
}

.paragraphExplicacao{
    text-align: justify; /*deixar texto justificado*/
    text-indent: 3em;
}
.paragraphResult{
    margin-top: 10px;
    /*text-indent: 3em;*/ /*espaçamento inicial*/
    font-style: italic;
}

.questionario{
    align-items: center;
    display: grid;
    justify-content: center;
    text-decoration: none;
}

.btn{
    border-radius: 20px;
}
.btn:hover{
    background-color: yellow;
    cursor: pointer;
}

@media(min-width: 320px){
    .titulo{
        font-size: 15px;
    }
    .subTitulo,
    .paragraphExplicacao,
    .questionario{
        font-size: 10px;
    }
    body{
        background-size: 100vw 200vh;
    }
    .fundo{
        height:70em;
    }
    .btn{
        font-size: 10px;
        width: 8em;
    }
}
@media(min-width: 375px){
    .titulo{
        font-size: 15px;
    }
    .subTitulo,
    .paragraphExplicacao,
    .questionario{
        font-size: 10px;
    }
    body{
        background-size: 100vw 200vh;
    }
    .fundo{
        height:60em;
    }
}
@media(min-width: 400px){
    .titulo{
        font-size: 20px;
    }
    .subTitulo,
    .paragraphExplicacao,
    .questionario{
        font-size: 15px;
    }
    body{
        background-size: 100vw 290vh;
    }
    .fundo{
        height:105em;
    }
}
@media(min-width: 1000px){
    .titulo{
        font-size: 30px;
    }
    .subTitulo{
        font-size: 25px;
    }
    .paragraphExplicacao,
    .questionario{
        font-size: 15px;
    }
    body{
        background-size: 100vw 200vh;
    }
    .fundo{
        height:63em;
    }
    .btn{
        font-size: 15px;
        width: 15em;
    }
}
.quero,
.mereco,
.preciso,
.posso,
.devo,
.final{
    display: none;
}
