*{
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

.subTitulo,
.titulo{
    font-variant: small-caps;
}

.subTitulo{
    margin-bottom: 2em;
}
.questionario{
    margin-top: 2em;
}
.paragraphExplicacao{
    text-align: justify; /*deixar texto justificado*/
    margin-bottom: 2em;
    text-indent: 3em;
}
.paragraphResult{
    margin-top: 10px;
    text-indent: 3em; /*espaçamento inicial*/
    font-style: italic;
}
.quero,
.mereco,
.preciso,
.posso,
.devo{
    margin-bottom: 2em;
}
